* {
  padding: 0px;
  margin: 0px;

}

h1 {
  color: red;
}

.navigatie a {
  color:red;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {

}
